#set-for-bg {
  background-color: #16cfc1; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #D1C4E9; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-bg-color: #9575CD;
  color: floralwhite; }

.address {
  font-size: 80%;
  margin: 0px auto;
  padding: 0px 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 1; }

.navbar-dark {
  background-color: #5120A8; }

.margin-form {
  margin: 0px auto;
  padding: 50px 0px; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background-color: #5120A8; }

.carousel-item {
  height: 300px; }
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

.modal-header {
  color: floralwhite;
  background-color: #9575CD; }

.modal-header .close {
  color: floralwhite; }

.modal-body {
  background-color: lightgrey; }
