@set-for-background:#16cfc1;
@footer-background:#D1C4E9;
@jumbotron-bg-color:#9575CD;
@jumbotron-color: floralwhite;
@address-color:#0f0f0f;
@navbar-dark:#5120A8;
@tab-content-color:#ddd;
@carousel:#5120A8;
@border-color: #ddd;



//height veriables
@carousel-item-height: 300px;

.zero-margin(@pad-up-dn: 0px, @pad-left-right: 0px){
	margin: 0px auto;
	padding: @pad-up-dn @pad-left-right;
}

#set-for-bg{
	background-color:@set-for-background;
}

.row-header{
	.zero-margin();
}
.row-content{
	.zero-margin(50px,0px);
	border-bottom: 1px ridge;
	min-height: 400px;
}
.footer{
	.zero-margin(20px,0px);
	background-color: @footer-background;
}
.jumbotron{
	.zero-margin(70px, 30px);
	background-bg-color: @jumbotron-bg-color;
	color: @jumbotron-color;
}
.address{
	font-size: 80%;
	.zero-margin();
	color: @address-color;
}
body{
	padding: 50px 0px 0px 0px;
	z-index: 1;
}
.navbar-dark{
	background-color: @navbar-dark;
}
.margin-form{
	.zero-margin(50px , 0px);
}

.tab-content{
	border-left: 1px solid @border-color;
	border-right: 1px solid @border-color;
	border-bottom: 1px solid @border-color;
	padding: 10px;
}

.carousel{
	background-color: @carousel;
}

.carousel-item{
	height: @carousel-item-height;
	img{
		position: absolute;
		top: 0;
		left: 0;
		min-height: @carousel-item-height;
	}
}

#carouselButton{
	right: 0px;
	position: absolute;
	bottom: 0px;
	z-index: 1;
}
